@charset "UTF-8";

/* common
_______________________________ */
*, *::before, *::after{ box-sizing: border-box; }

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2vw;
    line-height: 1.45;
    color: #707070;
    background-color: white;
}
.line{
    width: 97.333%;
    height: 3px;
    background-color: #EDC15E;
}
.square{
    width: 28px;
    height: 28px;
    background-color: #EDC15E;
}
.style-top{
    display: flex;
    align-items: center;
}
.style-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 3.75vw;
    color: #393939;
    letter-spacing: 3.15px;
}
li{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #393939;
}


/* animation
_______________________________ */
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* header
_______________________________ */
header{
    width: 100vw;
    height: 100vh;
    background: url(../images/柄.png) no-repeat center center;
    background-color: #EDC15E;
    background-size: cover;
    position: relative;
    /* アニメーション */
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
header .logo{
    width: 6%;
    position: absolute;
    top: 5.565%;
    left: 3.125%;
    /* トランジション */
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
header .logo:hover{
    width: 7%;
}
header .logo img{
    width: 100%;
}
header p{
    max-width: 773px;
    max-height: 106px;
    font-family: 'Raleway', sans-serif;
    /* font-size: 90px; */
    font-size: 7.5vw;
    color: #393939;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* アニメーション */
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
header .face{
    width: 464px;
    height: 464px;
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 0 auto;

}
header figure img{
    width: 100%;
}


/* main profile
_______________________________ */
main{
    padding: 276px 0 72px 0;
}
.profile-main-area{
    width: 62.5%;
    height: 517px;
    margin: 0 auto 72px auto;
    position: relative;
}
.profile-block{
    width: 100%;
    height: 390px;
    padding: 63px 0 63px 7.166%;
    margin: 36px 0 36px 0;
    display: flex;
    align-items: center;
}
.profile-block h2{
    margin: 0 7.166% 0 0;
}
.line-black{
    width: 2px;
    height: 390px;
    background-color: #393939;
}
.profile-text01{
    margin: 0 0 0 3.916%;
}
span{
    font-size: 2.16vw;
    color: #393939;
}

/* main skill
_______________________________ */

.skill-main-area{
    width: 100%;
    background-color: #EDC15E;
    padding: 115px 0 115px 0;
    margin: 0 0 72px 0;
}
.skill-block{
    width: 62.5%;
    margin: 0 auto 0 auto;
}
.skill-box{
    width: 100%;
    height: 28.052%;
    display: flex;
    justify-content: space-between;
    margin: 17.877% 0 0 0;
}
.skill-contents{
    width: 16.25%;
    /* トランジション */
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.skill-contents:hover{
    width: 20%;
}
.skill-contents figure{
    width: 100%;
    height: 100%;
    position: relative;
}
.skill-contents img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.skill-contents p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    color: #393939;
    text-align: center;
}

/* main love
_______________________________ */
.love-main-area{
    width: 100%;
}
.love-block{
    width: 62.5%;
    margin: 0 auto 0 auto;
    position: relative;
}
.love-main-area .style-top{
    margin: 0 0 35px 0;
}
.love-main-area .style-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.love-main-area .style-top .line{
    width: 85.333%;
}
.love-main-area h2{
    margin: 0 0 0 1.583%;
}
.love-box{
    display: flex;
    justify-content: space-between;
}
.love-main-area figure{
    width: 100%;
}
.love-main-area img{
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0px 0px 0px gray;
    /* トランジション */
    transition-property: filter,box-shadow;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.love-main-area img:hover{
    filter: grayscale(0);
    box-shadow: 0px 6px 20px gray;
}

.love-main-area p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    color: #393939;
    text-align: center;
    margin: 17px 0 0 0;
}
.love-contets{
    margin: 0 0 35px 0;
}

/* footer
_______________________________ */
footer{
    width: 100%;
    display: flex;
}

/* footer left_______________ */
.contact-area{
    width: 50%;
    padding: 120px 0 0 18.75%;
}
.contact-box{
    padding: 0 17.5% 0 0;
}
.contact-box .contact-text{
    font-size: 2.3vw;
    margin: 20px 0 0 0;
}
.line-black02{
    width: 1px;
    height: 109px;
    background-color: #393939;
    overflow: hidden;
    margin: 17px 0 17px 31.25%;
}

footer a{
    text-decoration: none;
}
footer a .mail{
    width: 62.037%;
    height: 19.098%;
    background-color: #EDC15E;
    border: 2px solid #EDC15E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.83vw;
    color: #393939;
    text-align: center;
    padding: 6.1% 0 6.1% 0;
    margin: 0 0 120px 0;
    /* トランジション */
    transition-property: background-color,border;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
footer a .mail:hover{
    background-color: #ffffff;
    border: 2px solid #EDC15E;
}

/* footer right_______________ */


.footer-area{
    width: 50%;
    background-color: #EDC15E;
    position: relative;
}
.footer-area .logo{
    width: 12.083%;
    position: absolute;
    top: 144px;
    left: 23.75%;
    /* トランジション */
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.footer-area .logo:hover{
    width: 14%;
}
.footer-area .logo img{
    width: 100%;
}
.footer-area p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #393939;
    position: absolute;
    top: 65.967%;
    left: 23.75%;
}


@media(min-width:1200px){
    body{
        font-size: 24px;
    }
    header p{
        font-size: 90px;
    }
    h2{
        font-size: 45px;
    }
    span{
        font-size: 26px;
    }
    p{
        font-size: 30px;
    }
    .profile-text01{
        font-size: 24px;
    }
    footer a p{
        font-size: 22px;
    }
    .footer-area p{
        font-size: 25px;
    }
    .contact-box .contact-text{
        font-size: 28px;
    }
}